.appMessage {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 30%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    border-bottom: 1px darkgray solid;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-family: "Anonymous Pro", serif;
}

.appMessageShow {
    opacity: 1;
}

.toolbarHeader {
    background-color: #AEBBAB;
    height: min-content;
    width: 100%;
    border-bottom: 1px #27645E solid;
    display: flex;
    gap: 40px;
    align-items: center;
}

.toolbarFooter {
    background-color: white;
    height: min-content;
    width: 100%;
    border-bottom: 1px #27645E solid;
    display: flex;
    justify-content: space-between;
    padding-inline: 50px;
    align-items: center;
}

.toolbarContainer {
    display: flex;
    flex-direction: column;
}

.input {
    display: none;
}

.inputLabel {
    border-radius: 2px;
    border: 1px #27645E solid;
    font-size: 18px;
    padding-inline: 15px;
    height: 30px;
    cursor: pointer;
}

.importArtObjectContainer {

}

.importArtObjectTitle {
    text-align: center;
}

.previewArtObjectsBlock {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.previewArt {
    max-height: 25px;
    max-width: 25px;
    cursor: pointer;
}
